
.container{
    width: 800px;
    margin: 30px auto;
    font-size: 25px;
    color: white;

    display: grid;
    grid-template-rows: 80px 150px 300px 80px;
    grid-template-columns: repeat(3, 1fr) 200px;   
    
    grid-gap: 15px;
}

.header{
    background-color: rgba(255, 0, 0, 0.863);
    grid-column: 1 / -1;
    padding: 10px;
}

.box{
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.863);
}

.sidebar{
    grid-row: 2/4;
    grid-column: 4/5;
    background-color: rgba(255, 0, 0, 0.863);
}
.content{
    background-color: rgba(255, 0, 0, 0.863);
    padding: 15px;

    grid-column: 1/4;
}

.footer{
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.863);
    grid-column: 1/-1;
}